!!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      Taiketsu
    = csrf_meta_tags
    = csrf_meta_tag

    = stylesheet_link_tag 'application' media: 'all'
    = javascript_include_tag 'application'
  %body
    = yield